body {
  font-family: "Verdana", Arial, Helvetica, sans-serif;
  text-align: center;
  /* background-color: #dfd2c2; 
  background-color: #E6E6E6; */
}

.displayer {
  padding: 1em 0;
  /* background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px #cacaca; */
}

h1 {
  /* font-size: 5em; */
  /* font-size: 3.9vw; */
  font-size: 3.5vw;
  color: #182035;
}

.dot {
  height: 1em;
  width: 1em;
  clip-path: circle(50%);
  background-color: #bbb;
  /* background-color: #494949; */
  display: inline-block;
  margin: 0 1em;
}

.colored {
  /* background-color: coral; */
  background-color: #b73a42;
}

#verseDotsContainer {
  /* position: absolute; */
  /* top: 39em; */
  /* bottom: 1em; */
  /* bottom: 5em; */
  /* width: 99%;
  text-align: center; */
}

#key {
  /* background-color: bisque; */
  /* width: 2em;
    height: 2em;
    margin: auto; */
  /* color: #ff5722; */
  /* color: #b73a42; */
  /* color: #3b8bc0; */
  color: #2aa196;
  font-weight: bolder;
  font-size: 3vw;
  height: 3vw;
}

#lyrics {
  height: 30vw;
}

.showHide {
  /* display: none; */
  /* visibility: visible !important; */
  visibility: hidden;
}
